.mainDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 2rem;
  width: 98vw;
  overflow: hidden;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
  padding-bottom: 90px;
}

@media screen and (max-width: 570px) {
  .container{
      margin-top:7rem;
  }
}